﻿@page
@model mnemosyne.web.Pages.Users.AddModel
@{
    ViewData["Title"] = "Add";
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<div class="mb-3">
    <h2>Create User</h2>
    <a asp-page="./List" class="btn btn-outline-secondary">All Users</a>
</div>

<form method="post">

    <div class="mb-3">
        <label asp-for="UserModel.Username" class="form-label"></label>
        <input asp-for="UserModel.Username" class="form-control" />
        <span asp-validation-for="UserModel.Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UserModel.Password" class="form-label"></label>
        <input asp-for="UserModel.Password" class="form-control" />
        <span asp-validation-for="UserModel.Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UserModel.Role" class="form-label"></label>
        <input asp-for="UserModel.Role" class="form-control" />
        <span asp-validation-for="UserModel.Role" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UserModel.GivenName" class="form-label"></label>
        <input asp-for="UserModel.GivenName" class="form-control" />
        <span asp-validation-for="UserModel.GivenName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UserModel.Surname" class="form-label"></label>
        <input asp-for="UserModel.Surname" class="form-control" />
        <span asp-validation-for="UserModel.Surname" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UserModel.Email" class="form-label"></label>
        <input asp-for="UserModel.Email" class="form-control" />
        <span asp-validation-for="UserModel.Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

</form> 