﻿@page "{userId:int}"
@model mnemosyne.web.Pages.Users.DeleteModel
@{
    ViewData["Title"] = "User Delete";
}

<div class="mb-3">
    <h2>Delete User</h2>
</div>

<div class="mb-3">
    <div class="alert alert-danger m-0" role="alert">
        Are you sure you want to delete <b>@(Model.DeletedUser?.Username ?? "[Error getting User]" )</b>?
    </div>
</div>

<div class="row mb-3">
    <div class="col-auto">
        <div class="container p-0">
            <div class="row row-cols-2">

                <div class="col text-end fw-bold">ID:</div>
                <div class="col">@Model.DeletedUser?.Id</div>

                <div class="col text-end fw-bold">First Name:</div>
                <div class="col">@Model.DeletedUser?.GivenName</div>

                <div class="col text-end fw-bold">Last Name:</div>
                <div class="col">@Model.DeletedUser?.Surname</div>

                <div class="col text-end fw-bold">Role:</div>
                <div class="col">@Model.DeletedUser?.Role</div>

            </div>
        </div>
    </div>
</div>

<div class="mb-3 text-center">
    <form method="post">

        <input type="hidden" asp-for="DeletedUser.Id" />

        @if (Model.DeletedUser != null)
        {
            <button type="submit" class="btn btn-danger">Yes!</button>
        }
        else
        {
            <button type="submit" class="btn btn-secondary" disabled>Yes!</button>
        }

        <a asp-page="./List" class="btn btn-success">Cancel</a>

    </form>
</div>










