﻿@page "{userId:int}"
@model mnemosyne.web.Pages.Users.DetailsModel
@{
    ViewData["Title"] = "Details";
}

@functions {
    public string FormatDateString(DateTime? dt)
    {
        return dt.HasValue
            ? dt.Value.ToString("yyyy-MM-dd HH:mm:sszzz")
            : null;
    }

    public string FormatName(muse.User u)
    {
        return u != null
            ? $"{u.InformalName} (User Id: {u.Id})"
            : null;
    }
}

<div class="mb-3">
    <h2>@Model.Details?.Username</h2>
    <a asp-page="./List" class="btn btn-outline-secondary">All Users</a>
</div>

<div class="row mb-3">
    <div class="col-auto">
        <div class="container p-0">
            <div class="row row-cols-2">

                <div class="col text-end fw-bold">ID:</div>
                <div class="col">@Model.Details?.Id</div>

                <div class="col text-end fw-bold">First Name:</div>
                <div class="col">@Model.Details?.GivenName</div>

                <div class="col text-end fw-bold">Last Name:</div>
                <div class="col">@Model.Details?.Surname</div>

                <div class="col text-end fw-bold">Role:</div>
                <div class="col">@Model.Details?.Role</div>

                <div class="col text-end fw-bold">Email:</div>
                <div class="col">@Model.Details?.Email</div>

                <div class="col text-end fw-bold">Last Login:</div>
                <div class="col" data-date="@FormatDateString(Model.Details?.LastLogin)" data-date-format="MM/DD/YYYY h:mm:ss a"></div>

                <div class="col text-end fw-bold">Date Created:</div>
                <div class="col" data-date="@FormatDateString(Model.Details?.CreatedBy?.Date)" data-date-format="MM/DD/YYYY h:mm:ss a"></div>

                <div class="col text-end fw-bold">Created By:</div>
                <div class="col">@FormatName(Model.Creator)</div>

                <div class="col text-end fw-bold">Last Edited:</div>
                <div class="col" data-date="@FormatDateString(Model.Details?.EditedBy?.Date)" data-date-format="MM/DD/YYYY h:mm:ss a"></div>

                <div class="col text-end fw-bold">Edited By:</div>
                <div class="col">@FormatName(Model.Editor)</div>

            </div>
        </div>
    </div>
</div>
