﻿@page "{userId:int}"
@model mnemosyne.web.Pages.Users.EditModel
@{
    ViewData["Title"] = "User Edit";
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<div class="mb-3">
    <h2>Editing User</h2>
    <a asp-page="./List" class="btn btn-outline-secondary">All Users</a>
</div>

<form method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Username" class="form-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Role" class="form-label"></label>
        <input asp-for="Role" class="form-control" />
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="GivenName" class="form-label"></label>
        <input asp-for="GivenName" class="form-control" />
        <span asp-validation-for="GivenName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Surname" class="form-label"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    @if (Model.Id > 0)
    {
        <button type="submit" class="btn btn-primary">Save</button>
    }
    else
    {
        <button type="submit" class="btn btn-secondary" disabled>Save</button>
    }

</form>
