﻿@page
@model mnemosyne.web.Pages.Users.ListModel
@{
    ViewData["Title"] = "User List";
}

@functions {
    public string FormatDateString(DateTime? dt)
    {
        return dt.HasValue
            ? dt.Value.ToString("yyyy-MM-dd HH:mm:sszzz")
            : null;
    }
}

@section CSS
{
    <partial name="_DataTablesStylesPartial" />
}

@section Scripts
{
    <partial name="_DataTablesScriptsPartial" />
    <script type="text/javascript">
        DataTable.datetime('MM/DD/YYYY');

        $(document).ready(function () {
            $("#userList").DataTable({
                dom: "t",
                paging: false,
                columnDefs: [
                    { targets: [0, 1, 2, 3, 4, 5], orderable: true, searchable: true },
                    { targets: [6], orderable: true, searchable: false },
                    { targets: '_all', orderable: false, searchable: false }
                ],
                responsive: {
                    details: false
                },
                initComplete: () => $("tr").show()
            });

        });
    </script>
}

<div class="mb-3">
    <h1>
        Users
        <a asp-page="./Add" class="btn btn-primary">Add New</a>
    </h1>
</div>

<table id="userList" class="table mb-3" style="width: 100%">
    <!--Width hardcoded to prevent DataTables.Responsive from overriding.-->
    <thead>
        <tr>
            <th scope="col" class="desktop">Id</th>
            <th scope="col">Username</th>
            <th scope="col" class="min-tablet-l">Role</th>
            <th scope="col" class="min-tablet-l">First Name</th>
            <th scope="col" class="min-tablet-l">Last Name</th>
            <th scope="col" class="desktop">Email</th>
            <th scope="col" class="desktop">Last Login</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model.Users)
        {
            <tr id="@u.Id" style="display: none">
                <td>@u.Id</td>
                <th scope="row">@u.Username</th>
                <td>@u.Role</td>
                <td>@u.GivenName</td>
                <td>@u.Surname</td>
                <td>@u.Email</td>
                <td data-date="@FormatDateString(u.LastLogin)"></td>
                <td>
                    <a asp-page="./Details" asp-route-userId="@u.Id" class="btn btn-outline-secondary border-0 btn-lg">
                        <i class="bi bi-zoom-in"></i>
                    </a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-userId="@u.Id" class="btn btn-outline-secondary border-0 btn-lg">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-userId="@u.Id" class="btn btn-outline-secondary border-0 btn-lg">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="./Add" class="btn btn-primary">Add New</a>