﻿@page

@model mnemosyne.web.Pages.Users.SignInModel
@{
    ViewData["Title"] = "Sign In";
}

<h2>Sign In</h2>

<form method="post">

    <div class="mb-3">
        <label asp-for="UserForm.Username" class="form-label"></label>
        <input asp-for="UserForm.Username" class="form-control" />
        <span asp-validation-for="UserForm.Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UserForm.Password" class="form-label"></label>
        <input asp-for="UserForm.Password" class="form-control" />
        <span asp-validation-for="UserForm.Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Sign In</button>

    <br />

    <a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal" class="link-primary">
        forgot password?
    </a>

</form>

<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="forgotPasswordModalLabel">Forgot Password?</span></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Sorry! Password recovery is not implemented yet. For now, please email me at
                <a href="mailto:punchdrunkdetective@gmail.com">punchdrunkdetective@gmail.com</a>
                or any other way you know to contact me. I will create a new password for you.<br />
                <br />
                You can also just keep trying. I won't count!
            </div>
        </div>
    </div>
</div>
