﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="d-none d-sm-none d-md-block col-md-4">
        <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Mnemosyne_%28color%29_Rossetti.jpg" alt="ASP.NET"  />
        <a href="https://commons.wikimedia.org/wiki/File:Mnemosyne_(color)_Rossetti.jpg">Delaware Art Museum, Samuel and Mary R. Bancroft Memorial</a>, Public domain, via Wikimedia Commons
    </div>
    <div class="col-12 col-sm-12 col-md-8">
        <h2>@ViewData["Title"]</h2>
        <p>
            I am not that great at remembering things, so in an attempt to combat that I have made this website as a record of things done!
            Right now it just records what movies we have watched. But in the future, maybe it will hold more.
            The site is constantly being worked on, so updates and new features will be had! 
            Be sure to check the home page for news, plans, and updates.<br />
            <br />
            I hope this website proves of some use, and if there are any recomendations or issues please feel free to contact me. <br />
        </p>
    </div>
</div>
