﻿@page
@model mnemosyne.web.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Error";
}

<h1>Access Denied</h1>

<p>
    You do not have permission to access this page. 
    Contact an administrator to get permissions or return to the <a asp-page="/Index">home page</a> to browse other pages. <br />
    <br />
    <h3>Either that or I messed up setting up your account!</h3> 
    Account Setup is a very manual process right now, and it is very possible I entered something wrong.
    So please, if you are sure you entered the correct username and password and cannot log in, contact me at 
    <a href="mailto:punchdrunkdetective@gmail.com">punchdrunkdetective@gmail.com</a>     
    or 
    <a asp-page="/Users/SignIn">try again</a>.
</p>
