﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
@section CSS {
    <style type="text/css">
        a {
            word-break: break-all;
        }
    </style>
}

<h2>@ViewData["Title"]</h2>
<br />

<address>
    <strong>Email:</strong> <a href="mailto:davidkentdavis@gmail.com">davidkentdavis@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a target="_blank" href="https://www.linkedin.com/in/david-davis-547a8b71/">https://www.linkedin.com/in/david-davis-547a8b71/</a><br />
    <br />
    <strong>Source:</strong> <a target="_blank" href="https://bitbucket.org/punchdrunkdetective/mnemosyne/commits/">https://bitbucket.org/punchdrunkdetective/mnemosyne/commits/</a><br />
</address>
