﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/3/37/Lodewijk_Toeput_-_The_Nine_Muses.jpg" alt="The Nine Muses" />
        <a href="https://commons.wikimedia.org/wiki/File:Lodewijk_Toeput_-_The_Nine_Muses.jpg">Lodewijk Toeput</a>, Public domain, via Wikimedia Commons
    </div>
</div>

<div class="row">
    <div class="col-lg-2"><!--spacer--></div>
    <div class="col-lg-4">
        <h2>What's New</h2>
        <ul>
            <li>Movie Rating System!</li>
        </ul>
    </div>
    <div class="col-lg-4">
        <h2>Upcoming Features</h2>
        <ul>
            <li>UX Overhall</li>
            <li>Movie Stastics / Reports</li>
            <li>User Stattics / Reports</li>            
        </ul>
    </div>
    <div class="col-lg-2"><!--spacer--></div>
</div>
