﻿@page
@model mnemosyne.web.Pages.Profiles.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="mb-3">
    <h2>@Model.Details?.Username</h2>
    <a asp-page="./Edit" class="btn btn-outline-secondary">Edit</a>
</div>

<div class="row mb-3">
    <div class="col-auto">
        <div class="container p-0">
            <div class="row row-cols-2">

                <div class="col text-end fw-bold">First Name:</div>
                <div class="col">@Model.Details?.GivenName</div>

                <div class="col text-end fw-bold">Last Name:</div>
                <div class="col">@Model.Details?.Surname</div>

                <div class="col text-end fw-bold">Email:</div>
                <div class="col">@Model.Details?.Email</div>

            </div>
        </div>
    </div>
</div>
