﻿:root {
    --rating-icon-input: '🥃';
    --rating-icon-average: '🥃🥃🥃🥃🥃';
    --rating-size: 1.5em;
    --rating-spacing: 0.1em;
    --rating-opacity: 25%;
    --rating-max: 5;
}

@media screen and (max-width: 540px) {
    /*bootstrap sm break point*/
    :root {
        --rating-size: 1em;
    }
}

.rating-radio {
    display: flex;
}

.rating-radio input {
    display: none;
}

.rating-radio label {
    font-size: var(--rating-size);
    letter-spacing: var(--rating-spacing);
    cursor: pointer;
}

.rating-radio label:before {
    content: var(--rating-icon-input);
}

.rating-radio input:checked ~ label,
.rating-radio:hover > label:hover ~ label {
    opacity: var(--rating-opacity)
}

.rating-radio input:checked + label,
.rating-radio:hover > input + label {
    opacity: 100%;
}

.rating-average-container {
    position: relative;
    display: inline-block;
    font-size: var(--rating-size);
    letter-spacing: var(--rating-spacing);
    white-space: nowrap;
}

.rating-average-container::before {
    content: var(--rating-icon-average);
    opacity: var(--rating-opacity);
}

.rating-average-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--rating) / var(--rating-max) * 100%);
    overflow: hidden;
}

.rating-average-fill::before {
    content: var(--rating-icon-average);
    opacity: 100%;
}
