﻿@page
@model mnemosyne.web.Pages.Movies.AddModel
@{
    ViewData["Title"] = "Add";
}

@section Scripts {
    <partial name="_MovieLookUp" />
} 

<div lookup-alert-container></div>

<div class="mb-4">
    <h2>
        Create Movie
    </h2>    
</div>

<form method="post">
    <fieldset>
        <div class="row">
            <div class="d-none d-sm-none d-md-block col-md-4 text-center">
                <img movie-poster class="img-fluid" src="https://via.placeholder.com/2000x3000.png?text=poster+not+provided" alt="Poster Image">
                <input movie-poster type="hidden" asp-for="Movie.Poster" />
            </div>
            <div class="col-12 col-sm-12 col-md-8">
                <div class="mb-3">
                    <label asp-for="Movie.Title" class="form-label"></label>
                    <div class="input-group">
                        <input movie-title asp-for="Movie.Title" class="form-control" />
                        <button movie-lookup type="button" class="btn btn-primary h-100" data-bs-toggle="tooltip" title="Look up movie by title with a partial or full match.">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                    <span asp-validation-for="Movie.Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Movie.ReleaseYear" class="form-label"></label>
                    <input movie-year asp-for="Movie.ReleaseYear" class="form-control" />
                    <span asp-validation-for="Movie.ReleaseYear" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Movie.Director" class="form-label"></label>
                    <input movie-director asp-for="Movie.Director" class="form-control" />
                    <span asp-validation-for="Movie.Director" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Movie.Genre" class="form-label"></label>
                    <select movie-genre asp-for="Movie.Genre" asp-items="Model.Genres" class="form-control"></select>
                    <span asp-validation-for="Movie.Genre" class="text-danger"></span>
                </div>

                <div class="form-check mb-3">
                    <input movie-watched class="form-check-input" asp-for="Movie.Watched" />
                    <label class="form-check-label" asp-for="Movie.Watched"></label>
                    <span asp-validation-for="Movie.Watched" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </fieldset>
</form>