﻿@page "{movieId:int}"
@model mnemosyne.web.Pages.Movies.DeleteModel
@{
    ViewData["Title"] = "Movie Delete";
}

<h2>Delete @(Model.MovieTitle ?? "Error")</h2>

<div class="alert alert-danger">
    Are you sure you want to delete @(Model.MovieTitle ?? "[Error getting Movie]" )?
</div>

<form method="post">
    <input type="hidden" asp-for="MovieTitle" />
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="./List" class="btn btn-secondary">Cancel</a>
</form>

