﻿@page "{movieId:int}"
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@model mnemosyne.web.Pages.Movies.DetailsModel
@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    var posterImage = !String.IsNullOrWhiteSpace(Model.Movie.Poster)
        ? Model.Movie.Poster
        : "https://via.placeholder.com/2000x3000.png?text=poster+not+provided";
}

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(HttpContext).RequestToken;
    }

    public string FormatDateString(DateTime? dt)
    {
        return dt.HasValue
            ? dt.Value.ToString("yyyy-MM-dd HH:mm:sszzz")
            : null;
    }

    public string FormatName(muse.User u)
    {
        return u != null
            ? $"{u.InformalName} (User Id: {u.Id})"
            : null;
    }
}

@section CSS {
    <style>
        .movie-details .col {
            align-self: center;
        }
    </style>
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            let token = $("#RequestVerificationToken").val();
            MovieDeleteModalInit(token);
        });
    </script>
}

<input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">

<div class="mb-4">
    <h2>
        @Model.Movie?.Title
    </h2>
</div>

<div class="row">

    <div class="d-none d-sm-none d-md-block col-md-4 text-center">
        <img movie-poster class="img-fluid" src="@posterImage" alt="Poster Image">
    </div>

    <div class="movie-details col-12 col-sm-12 col-md-8">
        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 text-end fw-bold">ID:</div>
            <div class="col">@Model.Movie?.Id</div>
        </div>
        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 text-end fw-bold">Release Year:</div>
            <div class="col">@Model.Movie?.ReleaseYear</div>
        </div>
        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 text-end fw-bold">Director:</div>
            <div class="col">@Model.Movie?.Director</div>
        </div>
        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 text-end fw-bold">Genre:</div>
            <div class="col">@Model.Movie?.Genre.GetDisplayName()</div>
        </div>
        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 text-end fw-bold">Watched:</div>
            <div class="col">@Model.Movie?.Watched</div>
        </div>
        @if ((await AuthorizationService.AuthorizeAsync(User, "IsAdmin")).Succeeded)
        {
            <div class="row">
                <div class="col-4 col-md-3 col-xl-2 text-end fw-bold">Date Created:</div>
                <div class="col" data-date="@FormatDateString(Model.Movie?.CreatedBy?.Date)" data-date-format="MM/DD/YYYY h:mm:ss a"></div>
            </div>
            <div class="row">
                <div class="col-4 col-md-3 col-xl-2 text-end fw-bold">Created By:</div>
                <div class="col">@FormatName(Model.Creator)</div>
            </div>
            <div class="row">
                <div class="col-4 col-md-3 col-xl-2 text-end fw-bold">Last Edited:</div>
                <div class="col" data-date="@FormatDateString(Model.Movie?.EditedBy?.Date)" data-date-format="MM/DD/YYYY h:mm:ss a"></div>
            </div>
            <div class="row">
                <div class="col-4 col-md-3 col-xl-2 text-end fw-bold">Edited By:</div>
                <div class="col">@FormatName(Model.Editor)</div>
            </div>
        }
        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 align-self-center text-end fw-bold">Your Rating:</div>
            <div class="col">
                <partial name="_RatingInput" for="@Model.Rating" />
            </div>
        </div>

        <div class="row mt-5">
            <div class="col text-center text-sm-center text-md-start">
                <a asp-page="./Edit" asp-route-movieId="@Model.Movie?.Id" class="btn btn-primary">Edit</a>
                <a data-bs-toggle="modal"
                   data-bs-target="#deleteMovieModal"
                   data-movie-id="@Model.Movie?.Id"
                   data-movie-title="@Model.Movie?.Title"
                   class="btn btn-danger">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>

<partial name="_MovieDeleteModal" />
