﻿@page "{movieId:int}"
@model mnemosyne.web.Pages.Movies.EditModel
@{
    ViewData["Title"] = "Movie Edit";
}

@{
    var posterImage = !String.IsNullOrWhiteSpace(Model.Movie.Poster)
        ? Model.Movie.Poster
        : "https://via.placeholder.com/2000x3000.png?text=poster+not+provided";
}

@section Scripts {
    <partial name="_MovieLookUp" />
}

<div lookup-alert-container></div>

<div class="mb-4">
    <h2>
        Editing @(Model.MovieTitle ?? "Error")
    </h2>
</div>

<form method="post">
    <fieldset>

        <input type="hidden" asp-for="MovieTitle" />
        <input type="hidden" asp-for="Movie.Id" />

        <div class="row">

            <div class="d-none d-sm-none d-md-block col-md-4 text-center">
                <img movie-poster class="img-fluid" src="@posterImage" alt="Poster Image">
                <input movie-poster type="hidden" asp-for="Movie.Poster" />
            </div>

            <div class="col-12 col-sm-12 col-md-8">

                <div class="mb-3">
                    <label asp-for="Movie.Title" class="form-label"></label>
                    <div class="input-group">
                        <input movie-title asp-for="Movie.Title" class="form-control" />
                        <button movie-lookup type="button" class="btn btn-primary h-100" data-bs-toggle="tooltip" title="Look up movie by title with a partial or full match.">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                    <span asp-validation-for="Movie.Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Movie.ReleaseYear" class="form-label"></label>
                    <input movie-year asp-for="Movie.ReleaseYear" class="form-control" />
                    <span asp-validation-for="Movie.ReleaseYear" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Movie.Director" class="form-label"></label>
                    <input movie-director asp-for="Movie.Director" class="form-control" />
                    <span asp-validation-for="Movie.Director" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Movie.Genre" class="form-label"></label>
                    <select movie-genre asp-for="Movie.Genre" asp-items="Model.Genres" class="form-control"></select>
                    <span asp-validation-for="Movie.Genre" class="text-danger"></span>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" asp-for="Movie.Watched" />
                    <label class="form-check-label" asp-for="Movie.Watched"></label>
                    <span asp-validation-for="Movie.Watched" class="text-danger"></span>
                </div>

                @if (Model.Movie != null)
                {
                    <button type="submit" class="btn btn-primary">Save</button>
                }
                else
                {
                    <button type="submit" class="btn btn-secondary" disabled>Save</button>
                }
            </div>
        </div>
    </fieldset>
</form>