﻿@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@model mnemosyne.web.Pages.Movies.ListModel
@{
    ViewData["Title"] = "Movie List";
}

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(HttpContext).RequestToken;
    }
}

@section CSS
{
    <partial name="_DataTablesStylesPartial" />
}

@section Scripts
{
    <partial name="_DataTablesScriptsPartial" />
    <script type="text/javascript">

        $(document).ready(function () {

            let token = $("#RequestVerificationToken").val();

            var movieList = $("#movieList").DataTable({
                dom: "t",
                order: [],
                paging: false,
                search: {
                    search: getSearchTerm()
                },
                columnDefs: [
                    { targets: "searchCol", orderable: true, searchable: true },
                    { targets: "orderCol", orderable: true, searchable: false }
                ],
                responsive: {
                    details: false
                }
            });

            $("#movieSearch").submit(function () {
                var searchTerm = getSearchTerm();
                var newUrl = `${window.location.pathname}?SearchTerm=${searchTerm}`;
                window.history.replaceState(null, "", newUrl);
                movieList.search(searchTerm).draw();
                return false;
            });

            $("input[type='checkbox']").click(function (evt) {
                var cb = $(evt.target);
                var td = cb.parent("td");
                var tr = td.parent("tr");

                var checked = cb.is(":checked");
                var movieId = tr.attr("id");

                $.ajax({
                    method: "POST",
                    url: `/api/movies/${movieId}/watched/${checked}`,
                    data: null,
                    headers: {
                        RequestVerificationToken: token,
                    },
                    success: function () {
                        // explicitiy update data tables to update it's order cache
                        td.attr("data-order", checked ? 1 : 0);
                        var row = movieList.row(`#${movieId}`);
                        row.data()[6]["@@data-order"] = td.attr("data-order"); // 6th column is watched column

                        // update alert class
                        if (checked) {
                            if (tr.is(".alert.alert-warning")) {
                                tr.removeClass("alert alert-warning");
                            }
                        }
                        else {
                            if (!tr.hasClass(".alert.alert-warning")) {
                                tr.addClass("alert alert-warning");
                            }
                        }
                    },
                    error: function () {
                        cb.prop("checked", !checked);

                        var myToastEl = $('#watched-error-toast').clone();
                        myToastEl.removeAttr("id");

                        var toastContainer = $(".toast-container");
                        toastContainer.append(myToastEl);

                        var myToast = new bootstrap.Toast(myToastEl.get(0), { autohide: false });
                        myToast.show();
                    }
                });
            });

        });

        function getSearchTerm() {
            return $("#searchTerm").val().trim();
        }

    </script>
}

<input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 999">
    <div id="watched-error-toast" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Oh no! Error updating movie watched status!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<h1>
    Movies
    <a asp-page="./Add" class="btn btn-primary">Add New</a>
</h1>

<form id="movieSearch" class="mb-3" method="get" action="javascript:void(0);">
    <div class="input-group">
        <input id="searchTerm" type="search" class="form-control" asp-for="SearchTerm" />
        <button class="btn btn-outline-secondary">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>

<table id="movieList" class="table mb-3" style="width: 100%"> <!--Width hardcoded to prevent DataTables.Responsive from overriding.-->
    <thead>
        <tr>
            <th scope="col" class="orderCol">Poster</th>
            <th scope="col" class="searchCol min-tablet-l">Title</th>
            <th scope="col" class="searchCol min-tablet-l">Release Year</th>
            <th scope="col" class="searchCol min-tablet-l">Director</th>
            <th scope="col" class="searchCol min-tablet-l">Genre</th>
            <th scope="col" class="orderCol">Average Rating</th>
            <th scope="col" class="orderCol">Watched</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.Movies)
        {
            var alertClass = m.Watched ? "" : "alert alert-warning";

            <tr id="@m.Id" class="@alertClass">
                <td class="text-center" style="width: 10% !important;" data-order="@m.Title">
                    @{
                        var posterImage = !String.IsNullOrWhiteSpace(m.Poster)
                            ? m.Poster
                            : "https://via.placeholder.com/2000x3000.png?text=poster+not+provided";
                    }
                    <a asp-page="./Details" asp-route-movieId="@m.Id" class="text-dark text-decoration-none">
                        <img movie-poster class="img-fluid" src="@posterImage" alt="Poster Image">
                    </a>
                </td>
                <th scope="row" data-search="@m.Title" data-order="@m.Title">
                    <a asp-page="./Details" asp-route-movieId="@m.Id" class="text-dark text-decoration-none">
                        @m.Title
                    </a>
                </th>
                <td>@m.ReleaseYear</td>
                <td>@m.Director</td>
                <td>@m.Genre.GetDisplayName()</td>
                <td data-order="@m.AverageRating">
                    <partial name="_RatingAverage" model="@m.AverageRating">
                </td>
                <td class="text-center" data-order="@(m.Watched ? 1 : 0)">
                    <input class="form-check-input" asp-for="@m.Watched">
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="./Add" class="btn btn-primary">Add New</a>
