﻿<environment include="Development">
    <link rel="stylesheet" href="~/lib/DataTables/datatables.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/lib/DataTables/datatables.min.css" />
</environment>
<style type="text/css">

    /*re-apply bootstrap5 styles overriden by datatables specificity*/

    table.dataTable.no-footer {
        border-bottom: none;
        border-color: rgb(222, 226, 230);
    }

    table.dataTable tbody tr:last-child,
    table.dataTable tbody tr:last-child th,
    table.dataTable tbody tr:last-child td {
        border-bottom: none;
    }

    table.dataTable tbody tr.alert-warning {
        color: #664d03;
        background-color: #fff3cd;
        border-color: #ffecb5;
    }

    table.dataTable tbody tr.alert-warning .alert-link{
        color: #523e02;
    }

</style>