﻿<environment include="Development">
    <script src="~/lib/DataTables/datatables.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/DataTables/datatables.min.js"></script>
</environment>