﻿@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mnemosyne.web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-5.0.1-dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-icons-1.5.0/bootstrap-icons.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/rating.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-5.0.1-dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-icons-1.5.0/bootstrap-icons.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/rating.min.css" asp-append-version="true"/>
    </environment>

    @RenderSection("CSS", required: false)
</head>
<body>

    <nav class="fixed-top navbar navbar-expand-md navbar-dark bg-dark">

        <div class="container-md">

            <a class="navbar-brand" asp-page="/Index">B Movie Night</a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" asp-page="/Movies/List">Movies</a></li>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "IsAdmin")).Succeeded)
                    {
                        <li class="nav-item"><a class="nav-link" asp-page="/Users/List">Users</a></li>
                    }
                    <li class="nav-item"><a class="nav-link" asp-page="/About">About</a></li>
                    <li class="nav-item"><a class="nav-link" asp-page="/Contact">Contact</a></li>
                </ul>
                @if (!User.Identity.IsAuthenticated)
                {
                    <span class="nav-item">
                        <a class="nav-link text-white ps-0" asp-page="/Users/SignIn">Sign In</a>
                    </span>
                }
                else
                {
                    <span class="nav-item">
                        <a class="nav-link text-white ps-0" asp-page="/Profiles/Details">
                            @User.Identity.Name
                        </a>
                    </span>

                    <!--Really wanting to keep anchor styling-->
                    <form id="sign-out-form" method="post" asp-page="/Users/SignIn" asp-page-handler="SignOut"></form>
                    <span class="nav-item">
                        <a class="nav-link text-white ps-0" asp-page="" onclick="event.preventDefault(); $('#sign-out-form').submit();">Sign Out</a>
                    </span>
                }
            </div>

        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <!--TODO: navbar padding is not being considered when placing body content -->
    <div class="container-md body-content">

        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 999">
            <div id="rating-error-toast" class="toast  align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        Oh no! Error rating movie!
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @ViewData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["SignedIn"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Oh hi <b>@User.Identity.Name</b>!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                @TempData["Message"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2021 - mnemosyne.web</p>
            <p>Placeholder images provided by <a href="https://placeholder.com/">placeholder.com</a>.</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/jquery-3.6.0/jquery.js"></script>
        <script src="~/lib/bootstrap/bootstrap-5.0.1-dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/rating.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery-3.6.0/jquery.min.js"></script>
        <script src="~/lib/bootstrap/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/rating.min.js" asp-append-version="true"></script>
    </environment>

    <script src="~/lib/moment/moment.js"></script>
    <script type="text/javascript">
        var tooltipTriggerList;
        var toastList;

        $(document).ready(function () {

            $('[data-date]').each((_, el) => {
                let d = $(el).data('date');
                if (d) {
                    let f = $(el).data('date-format') || 'MM/DD/YYYY';
                    let fd = moment(d).format(f);
                    $(el).text(fd);
                }
            });
            
            tooltipTriggerList = $('[data-bs-toggle="tooltip"]').map((_, el) => {
                return new bootstrap.Tooltip(el, { container: 'body', trigger: 'hover' });
            }).get();

            var toastElList = [].slice.call(document.querySelectorAll('.toast'));
            toastList = toastElList.map(function (toastEl) {
                return new bootstrap.Toast(toastEl, { autohide: false });
            }); 

        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
