﻿<script type="text/javascript">

    // following changes per modal showing event
    var movieDeleteModal_movieId;
    var movieDeleteModal_movieTitle;

    /**
     * Sets up event handlers for the Movie Delete Modal. Optional DataTables instance can be passed in to remove a row
     * that is id'd by a movie id on successfull delete. (ie. <row id="movie.Id">..) Otherwise, the user will be navigated 
     * back to the movie list page. The parent page is responsible for providing a request verfification token that will be 
     * passed on the delete request header. 
     *
     * Anchors should be setup with the following attributes:
     * data-target="#deleteMovieModal"
     * data-movie-id="movie.Id"
     * data-movie-title="movie.Title"
     */
    function MovieDeleteModalInit(requestVerificationToken, movieTable) {

        var modal = $("#deleteMovieModal");
        modal.on({
            "show.bs.modal": function (event) {

                var button = $(event.relatedTarget);
                movieDeleteModal_movieId = button.data("movie-id");
                movieDeleteModal_movieTitle = button.data("movie-title");

                modal.find(".movie-title").text(movieDeleteModal_movieTitle);

            },
            "hidden.bs.modal": function () {

                var modal = $(this);
                $("#deleteMovieConfirmationButton").removeClass("disabled");
                modal.find(".alert").hide();

            }
        });

        $("#deleteMovieConfirmationButton").on("click", function () {
            $(this).addClass("disabled");
            $.ajax({
                method: "DELETE",
                url: `/api/movies/${movieDeleteModal_movieId}`,
                data: null,
                headers: {
                    RequestVerificationToken: requestVerificationToken,
                },
                success: function () {
                    modal.find(".alert-success").show();
                    if (movieTable) movieTable.row($(`#${movieDeleteModal_movieId}`)).remove().draw();
                },
                error: function () {
                    modal.find(".alert-danger").show();
                }
            });
        });

    }

</script>

<div class="modal fade" id="deleteMovieModal" tabindex="-1" aria-labelledby="deleteMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title" id="deleteMovieModalLabel">Delete <span class="movie-title"></span></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" style="display: none">
                    <b><span class="movie-title"></span></b> successfully deleted!
                </div>
                <div class="alert alert-danger" style="display: none">
                    Error deleting <b><span class="movie-title"></span></b>. Please refresh the page and try again.
                </div>
                Are you sure you want to delete <b><span class="movie-title"></span></b>?
            </div>
            <div class="modal-footer">
                <a id="deleteMovieConfirmationButton" class="btn btn-danger">Yes!</a>
                <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>