﻿<script type="text/javascript">

    /**
     * Automatically setups up a page to look up movies against omdb. Script will look for html elements with specific attributes
     * and work against those. Only attributes requied are movie-title and movie-lookup. movie-lookup wires up the button that 
     * triggers the api call. movie-title is needed to perform the search. Any data returned from the api call will be used to 
     * override any input with the associated attributes. Duplicate attributes can exist. 
     * 
     * movie-look - button to trigger api call
     * movie-title - input to search for
     * 
     * movie-year - year movie was released, overriden by api call
     * movie-director - director(s) of movie, overriden by api call
     * movie-genre - genre of movie, overriden by api call, if multiple genres are found in omdb this is the first genre that maps to our enum
     * movie-poster - movie poster, overriden by api call, can be applied on both an input or img tag
     * */
    $(document).ready(function () {

        let lookUpButton = $('button[movie-lookup]');

        let titleInput = $('input[movie-title][type="text"]');
        let yearInput = $('input[movie-year][type="number"]');
        let directorInput = $('input[movie-director][type="text"]');
        let genreInput = $('select[movie-genre]');

        let posterInput = $('input[movie-poster][type="text"], input[movie-poster][type="hidden"]');
        let posterImg = $('img[movie-poster]');

        lookUpButton.click(_ => {

            $('fieldset').prop('disabled', true);
            $('fieldset').find('[data-bs-toggle="tooltip"]').tooltip('hide');

            let title = titleInput.val();

            $.ajax({
                method: "GET",
                url: `/api/lookup/findmovie/?title=${title}`,
                success: (data) => {
                    if (!data.title) {
                        alertMovieLookUp(`Unable to find movie <strong>${title}</strong>`, 'warning');
                        return;
                    }

                    $('#lookup-alert-container .alert .btn-close').click();

                    titleInput.val(data.title);
                    yearInput.val(data.year);
                    directorInput.val(data.director);
                    genreInput.val(data.genre);

                    if (data.poster) {
                        posterInput.val(data.poster);
                        posterImg.attr('src', data.poster);
                    }
                },
                error: function () {
                    alertMovieLookUp('Error looking up movie title.', 'danger');
                },
                complete: function () {
                    $('fieldset').prop('disabled', false);
                }
            });

        });
    });

    function alertMovieLookUp(message, type) {
        $('div[lookup-alert-container]').html([
            `<div class="alert alert-${type} alert-dismissible" role="alert">`,
            `   <div>${message}</div>`,
            '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
            '</div>'
        ].join(''));
    }

</script>
