﻿@model mnemosyne.muse.Rating
@using mnemosyne.muse 

@{
    var name = ViewData["name"] ?? "rating";
}

@functions {
    public bool isChecked(int v)
    {
        return (Model?.Value ?? 0) == v;
    }
}

<div class="d-inline-block">
    <div id="@(name)" class="rating-radio" data-movie-id="@(Model?.MovieId ?? 0)">
        <input class="d-none" type="radio" id="@(name)_0" asp-for="Value" value="0" checked=@isChecked(0)/>
        <label class="d-none" for="@(name)_0"></label>

        @for (int i = 1; i <= Rating.Max; i++)
        {
            <input type="radio" id="@(name)_@(i)" asp-for="Value" value="@i" checked=@isChecked(i) />
            <label for="@(name)_@(i)"></label>
        }
    </div>
</div>