﻿﻿<environment include="Development">
    <script src="~/lib/jquery-validate/jquery-validate-1.19.2/jquery-validate.js"></script>
    <script src="~/lib/jquery-validate-unobtrusive/jquery-validate-unobtrusive-5.2.3/jquery-validate-unobtrusive.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validate/jquery-validate-1.19.2/jquery-validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"
            crossorigin="anonymous">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validate-unobtrusive/jquery-validate-unobtrusive-5.2.3/jquery-validate-unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
            crossorigin="anonymous">
    </script>
</environment>